*,
*::before,
*::after {
  box-sizing: border-box; /* makes the layout predictable */
}

body {
  /* removing the default margin and padding */
  margin: 0;
  padding: 0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; /* system font for now, clean, fast and neutral */

  line-height: 1.6; /* Sets the calm mood */
  color: #1f2f2f; /* deep muted tone for text softer on the eyes */
  background-color: #f5f7f6; /* very light and cool neutral background */
}

.hero {
  min-height: 100vh; /* hero takes screen height */
  width: 100%; /* full width of the screen */

  display: flex; /* gives flow control without absolute positioning */
  flex-direction: column; /* stacks content naturally (vertically) nav at top and hero text below */

  position: relative; /* for positioning of everything inside the hero */

  background-image: url(./Images/backgr.jpg);
  background-size: cover; /* image fills the hero with no stretching and no distortion */
  background-position: center; /* center of the image stays in the center of the hero. Image includes coffee cup that is the emotional anchor */
  background-repeat: no-repeat; /* no tiling of the image */

  color: rgba(
    170,
    203,
    196,
    0.9
  ); /* off-white that blends with the image naturally */
}

/* Overlay for the image, more flexible over editing the image */
.hero::before {
  content: "";
  position: absolute; /* positioned relative to .hero */
  inset: 0; /* overlay perfectly covers the hero */

  background: rgba(
    0,
    0,
    0,
    0.45
  ); /* dark overlay to enhance text readability */

  pointer-events: none; /* allows clicks to pass through the overlay */
  z-index: 1;
}

/* bring the content above the overlay so text and nav stay clickable */
.hero > * {
  position: relative;
  z-index: 1;
}

/* styling of the nav */
.nav {
  width: 90%; /* nav not full width, leaves space on sides for breathing room */

  margin: 1.5rem auto 0 auto; /* center the nav */
  padding: 0.6rem 2rem; /* give the nav some breathing room */

  display: flex; /* lets the logo and links live on the same line */
  align-items: center;
  justify-content: space-around; /* center the nav content */
  gap: 2rem; /* space between logo and links */

  position: relative;
  z-index: 10;
  /* top: auto;
  left: auto; */

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  border-radius: 20px;
  /* for the glass effect to work */
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);

  z-index: 10; /* ensures nav stays above overlay */
}

.nav-wrapper {
  display: flex;
  justify-content: center;
}

.nav ul {
  list-style: none; /* removes bullets */
  display: flex; /* force horizontal layout */
  gap: 1.5rem; /* even spacing between links */

  margin: 0;
  padding: 0;
  align-items: center;
  flex-shrink: 0; /* prevents it from squishing when nav is centered */
}

.nav a {
  color: #f5f7f6;
  text-decoration: none; /* removes underline from links */
  font-size: 0.95rem;
  letter-spacing: 0.03rem;
  font-weight: 600;
  line-height: 1;
  transition: color 0.3s ease-in;
}

.nav a:hover {
  color: #00df81;
}

.logo img {
  display: block;
  opacity: 0.9;
  width: 36px;
  height: 36px;
  /* margin-right: 1rem; */
  filter: invert(1);
}


.hero-content {
  flex: 1; /* takes the remaining height after nav */

  display: flex;
  flex-direction: column;
  justify-content: center; /* centers the story vertically - calm, grounded, intentional */
  /* transform: translateY(-4rem); */
  margin-bottom: 8rem;
  z-index: 2;

  padding-top: 4rem; /* creates nav clearance */
  padding-left: 6rem; /* texts slightly left of center, not sticking to the edge */
  padding-right: 2rem;

  max-width: 700px; /* keeps the text from stretching too wide on large screens */
}

